
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid " style="background-color:white;width:500px;height:200px;">
  <div class="row p-4">
    <form method="POST" action="" class=" form p-4  mx-4">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"> <strong>Register Here</strong> </legend>
        {{form|crispy}}
      </fieldset>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>
  </div>

  <div>
  </div>
  <div class="mt-4 p-4" style="background-color:white">
						<div class="d-flex justify-content-center links">
							 <small>Have an account?</small>  
							<a href="{% url 'login' %}" class="ml-2">Login </a>
						</div>
					</div>

  {% for message in messages %}
  <p>{{message}}</p>
  {% endfor %}
</div>

{% endblock %}