{% load crispy_forms_tags %}

<div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div>
        <div>
            <form action="" method="POST" novalidate enctype="multipart/form-data" class="mr-4 mt-4 ml-4 mb-4">
                {% csrf_token %} 
                {{ user_form|crispy}} 
                {{ prof_form|crispy}}
                <button type="submit" class="btn btn-warning btn-sm">
                    Update Profile
                </button>
            </form>
        </div>
    </div>
</div>
